.cardContainer {
  position: relative;
  width: 250px;
  height: 150px;
  border-radius: 25px;
  /* background-color: rgba(0, 0, 0, 0.85); */
  /* box-shadow: 4px 4px 0px var(--primary-color); */
  background-color: var(--primary-color);
  box-shadow: 4px 4px 0px var(--secondary-color);
  /* background-color: var(--secondary-color); */
  border: black solid 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text {
  margin: 0px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.title {
  background-color: black;
  color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px white solid;
}
