.cardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 250px;
  border-radius: 25px;
  border: var(--shadow-color) solid 1px;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
