@import "../../theme-variables.css";

.container {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  top: 30vh;
  width: 225px;
  /* height: 425px; */
  height: auto;

  padding-bottom: 10px;
  background-color: var(--primary-color);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0px 10px 10px 0px;
  color: var(--secondary-color);
}

.span {
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 2.5px;
}

.selector {
  position: relative;
  width: 200px;
  left: 14px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: none;
}

.applyButton {
  text-transform: uppercase;
  width: 200px;
  height: 4vh;
  margin-left: 14px;
  border-radius: 10rem;
  border: var(--secondary-color) solid 1px;
  background-color: var(--secondary-color);
}

.applyButton:hover {
  background-color: var(--primary-color);
}

.checkboxContainer {
  margin: 5px;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  list-style-type: none;
  text-align: left;
  padding-bottom: 5px;
}
